#content {
	font-size: 14pt;
	font-family: "Computer Modern Typewriter", monospace;
	margin-left: auto;
	margin-right: auto;
	max-width: 550px;
	padding-top: 30px;
	padding-bottom: 30px;
}

body {
	color: #000;

}

p {
	text-align:justify;
}

a:link {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #000;
}
@media (max-width:690px) {
	#content {
		padding: 20px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.kuva {
	font-style: italic;
}
